/* Color table */
/* White:  #FEFEFA;
/* Blue:   rgb(33, 85, 170) */
/* Purple: #60047A */
/* Pink:   #9C0F5F */
/* Red:    #C91B26 */
/* Orange: #F2671F */


body{
	font-family: 'Michroma', sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Michroma', sans-serif;
}

.white-frame{
	min-height: 800px;
	background-color: #FEFEFA;
	color: rgb(33, 85, 170);

}

.white-frame#main-frame{
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.logo-div{
	position: fixed;
	left: 0;
	top: 10px;
	width: 100%;
}

.description-div{
	position: fixed;
	left: 0;
	top: 110px;
	width: 100%;
}
.button-div{
	position: fixed;
	left: 0;
	top: 297px;
	width: 100%;
	margin-top: 150px;

}

#second-frame{
	position: relative;
	z-index: 3;
}

#third-frame{
	position: relative;
	background-color:  #FEFEFA;
	margin-top: -10px;
	min-height: 300px;
	text-align: center;
	z-index: 2;
}

.video-container{
	margin-top: 50px;
	margin-bottom: 50px;
}

.blue-frame{
	min-height: 800px;
	background-image: linear-gradient(to right, rgb(33, 85, 170) 0%, rgb(62, 114, 198) 100%);
	z-index: 99;
	color: #FEFEFA;
}

#feature-title-row{
	padding-bottom: 50px;
}

.feature-row{
	padding-bottom: 50px;
}

.feature-icon-container{
	text-align: center;

}


.feature-icon{
	font-size: 80px;
	margin-top: 23px;
}

.subscribe-frame{
	position: relative;
	z-index: 2;
	min-height: 205px;
	background-color: #C91B26;
	color: #FEFEFA;
	text-align: center;
}

.subscribe-h2{
	margin-bottom: 20px;
}

.wrong-mail{
	position: relative;
	z-index: 2;
	text-align: center;
	background-color: #FEFEFA;
	color: #C91B26;
}

#foot-frame{
	position: relative;
	z-index: 2;
	min-height: 120px;
	text-align: center;
}

#follow-text{
	margin-top: 10px;
}
.social-icon{
	height: 35px;
	margin-right: 35px;
	margin-top: 14px;

}

#subscribe-form{
	padding-top: 20px;
}

.btn-subscribe{
	background-color: rgb(33, 85, 170);
	color: #FEFEFA;
	float: right;
}

.btn-subscribe:hover{
	color: #F2671F;
}

button#subscribe{
	display:none;
}

.logo{
	height: 80px;
	vertical-align: middle;
	margin-bottom: 20px;
	margin-left: -30px;

}

.division{
	height: 50px;
}

.logo-text{
	vertical-align: middle;
	font-size: 48px;
	margin-top: 10px;
	color: rgb(33, 85, 170);
}

.btn-sockets{
	background-color: #C91B26;
	color: #FEFEFA;
	float: right;
}

.btn-sockets:hover{
	color: rgb(33, 85, 170);
}


.orbi{
	font-family: 'Orbitron', sans-serif;
	font-weight: 400;
}

.orbi700{
	font-family: 'Orbitron', sans-serif;
	font-weight: 700;
}

.michroma{
	font-family: 'Michroma', sans-serif;
}











